{% block array_input_widget %}
    {% spaceless %}
        <div class="form-group" {{ block('widget_container_attributes') }}>
        {{ form_label(form) }}
        {{ block('hidden_widget') }}
        view
        <ul>
        {% for child in form %}
            <li>
                {{ form_widget(child) }}
            </li>
        {% endfor %}
        </ul>
        {##}
    {% endspaceless %}
{% endblock %}