{% extends "@App/layout.html.twig" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block content %}
    <div class="page-header">
        <h2>{{ 'Personal information edit'|trans }}</h2>
    </div>
    <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
        {{ form_widget(form) }}
        <div>
            <input class="btn btn-success" type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
        </div>
    </form>
{% endblock content %}
