{% extends "@App/layout.html.twig" %}

{% block content %}
    <div class="page-header">
        <h2>{{ 'Profile info'|trans }}</h2>
    </div>

    <div class="fos_user_user_show">
        <div class="control-group">
            <label class="control-label">{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}: </label>
            <span>{{ user.username }}</span>
        </div>
        <div class="control-group">
            <label class="control-label">{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: </label>
            <span>{{ user.email }}</span>
        </div>
        <div class="control-group">
            <label class="control-label">{{ 'Last name'|trans }}: </label>
            <span>{{ user.lastName }}</span>
        </div>
        <div class="control-group">
            <label class="control-label">{{ 'First name'|trans }}: </label>
            <span>{{ user.firstName }}</span>
        </div>
        <div class="control-group">
            <label class="control-label">{{ 'Biography'|trans }}: </label>
            <p>{{ user.bio }}</p>
        </div>
    </div>

    <div class="form-group">
        <a href="{{ url('fos_user_profile_edit') }}" class="btn btn-primary">{{ 'Edit'|trans }}</a>
        <a href="{{ path('fos_user_change_password') }}" class="btn btn-warning">{{ 'Change password'|trans }}</a>
    </div>
{% endblock content %}
