{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% block content %}
            <div class="page-header">
                <h1>{{ 'Welcome to E-products platform'|trans }}</h1>
            </div>
        {% endblock %}
    </div>
{% endblock %}
