<footer>
    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left copyright-text"> Copyright © <a href="https://www.linkedin.com/in/andrey-boychuk-39a906a3/">Andrii Boichuk</a> 2017. All right reserved.</p>
        </div>
    </div>
</footer>