<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{{ 'Welcome!' }}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% stylesheets
        '@AppBundle/Resources/public/css/*'
        %}
            <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block header %}
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    {# Brand and toggle get grouped for better mobile display #}
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#admin-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">E-Products!</a>
                    </div>
                    <div class="collapse navbar-collapse" id="admin-navbar-collapse-1">
                        {{ knp_menu_render('AppBundle:Builder:mainMenu', {'currentClass': 'active'}) }}
                        {{ knp_menu_render('AppBundle:Builder:userMenu', {'currentClass': 'active'}) }}
                    </div>
                </div>
            </nav>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}
            {{ include('_footer.html.twig') }}
        {% endblock %}
        {% block javascripts %}
            {% javascripts
                '@AppBundle/Resources/public/js/jquery-3.2.1.min.js'
                '@AppBundle/Resources/public/js/main.js'
                '@AppBundle/Resources/public/js/bootstrap.min.js'
                '@AppBundle/Resources/public/js/select2.full.min.js'
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
