{% extends '@App/layout.html.twig' %}
{% block content %}
    <p> {{ 'Please, wait while system redirecting you to the merchant. If you wait too long press submit button'|trans }}</p>
    {{ form|raw }}
{% endblock content %}