{% extends '@App/layout.html.twig' %}
{% import '@App/products/list_products.html.twig' as macros %}
{% block content %}
    <div class="page-header">
        <h2>{{ 'Overview of uploaded works'|trans }}</h2>
    </div>

    <div class="row img-thumbnails">
        {% for product in products %}
            {{ macros.renderProduct(product) }}
        {% endfor %}
    </div>
{% endblock %}