{% extends '@App/layout.html.twig' %}
{% import _self as macros %}
{% block content %}
    <div class="page-header">
        <h2>{{ pageTitle|trans }}</h2>
    </div>
    <form class="text-center" method="POST" action="{{ url('product_search') }}">
        <div class="form-group search-bar-wrapper">
            <div class="control-group search-bar-wrapper">
                <input name="search" class="search-bar form-control" placeholder="{{ 'Type in search string'|trans }}" {% if searched is defined %}value="{{ searched }}" {% endif %}/>
            </div>
            <br />
            <div class="control-group">
                <button class="btn btn-primary">{{ 'Search'|trans }}</button>
            </div>
        </div>
    </form>
    <div class="items">
        <div class="row img-thumbnails">
            {% for product in products %}
                {% if not loop.first and loop.index0 is divisible by(3) %}
                    {{ '</div><div class="row img-thumbnails">' }}
                {% endif %}
                {{ macros.renderProduct(product, 'col-md-4') }}
            {% endfor %}
        </div>
    </div>
    {% if page is defined %}
        {% if additional_attributes is not defined %}
            {% set additional_attributes = {} %}
        {% endif %}
        <div class="text-center">
            {{ include('@App/widgets/paginator_widget.html.twig', {'current_page' : page, 'pages' : pages, 'attributes' : additional_attributes }) }}
        </div>
    {% endif %}
{% endblock %}
{% macro renderProduct(product, class) %}
    <div class="{{ class }}">
        <a href="{{ url('product_view', {'id' : product.id}) }}">
            <img src="/uploads/thumbs/{{ product.headPicture }}" class="img-thumbnail">
        </a>
    </div>
{% endmacro %}