{% extends '@App/layout.html.twig' %}
{% import _self as macros %}
{% block content %}
    {% if is_owned %}
        <h2 class="text-center">{{ 'My product'|trans }} "{{ product.title }}"</h2>
    {% else %}
        <h2 class="text-center">{{ product.title }}</h2>
    {% endif %}
    {{ include('@App/widgets/author_widget.html.twig', {'author' : product.owner }) }}
    <h4>{{ 'Tags'|trans }}</h4>
    <ul class="tags">
        {% for tag in product.tags %}
            <li>
                <a href="{{ url('product_search', {'page': 0,'search' : tag }) }}" class="tag">{{ tag }}</a>
            </li>
        {% endfor %}
    </ul>
    <p>{{ product.description }}</p>
    <label class="price-wrapper control-label">{{ 'Price:'|trans }}</label><span
        class="price">{{ product.formattedPrice }}</span>
    <div class="image-view-wrapper">
        <img class="image-view" src="/uploads/{{ product.headPicture }}">
    </div>
    <br>
    <div class="control-group">
        {% if app.user %}
            {% if not is_owned %}
                {% if app.user.isProductBought(product.id) %}
                    <a href="{{ url('product_download', {'id' : product.id }) }}"
                       class="btn btn-success">{{ 'Download origin'|trans }}</a>
                {% else %}
                    <a href="{{ url('payment_create', {'id' : product.id }) }}"
                       class="btn btn-success">{{ 'Order NOW!'|trans }}</a>
                {% endif %}
            {% endif %}

        {% else %}
            <a href="{{ url('fos_user_security_login') }}"
               class="btn btn-primary">{{ 'Log in and order!'|trans }}</a>
        {% endif %}
    </div>
{% endblock %}