{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block body %}
    <div class="container">
        <h1 class="h1 text-center">{{ 'Registration'|trans }}</h1>
        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST"
              class="fos_user_registration_register form-horizontal">
            {{ form_widget(form) }}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input class="btn btn-primary" type="submit"
                           value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}"/>
                </div>
            </div>
        </form>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <h3 class="form-hint">{{ 'Social network auth' | trans }}</h3>
                {% include 'widgets/social_network_auth.html.twig' %}
            </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block footer %}{% endblock %}
