<div class="social-login-wrapper">
    <div>
        <a href="https://www.facebook.com/dialog/oauth?client_id={{ fb_client_id }}&redirect_uri={{ url('facebook_login')|url_encode }}&state=3f1751f0e03a8b537d2cc2f65d85762f&sdk=php-sdk-3.2.3&scope=email"
           class="btn btn-social-icon btn-facebook"><span class="fa fa-facebook"></span></a>
    </div>
    <div>
        <a href="https://oauth.vk.com/authorize?client_id={{ vk_client_id }}&scope=offline,email&redirect_uri={{ url('vkontakte_login')|url_encode }}"
           class="btn btn-social-icon btn-vk"><span class="fa fa-vk"></span></a>
    </div>
    <div>
        <a title="{{ 'Temporary unavailable'|trans }}" disabled="disabled" href="#{#https://accounts.google.com/o/oauth2/auth?client_id={{ google_client_id }}&redirect_uri={{ url('google_login')|url_encode }}#}"
           class="btn btn-social-icon btn-google"><span class="fa fa-google"></span></a>
    </div>
</div>
