<ul class="pagination">
    {% set route = app.request.attributes.get('_route') %}
    {% set params = app.request.attributes.get('_route_params') %}
    {% set params = params|merge(attributes) %}
    {% if pages > 1 %}
        {% for page in 1..pages %}
            {% if loop.index0 == current_page %}
                <li class="active"><a href="#">{{ page }}</a></li>
            {% else %}
                <li>
                    <a href="{{ url(route, params|merge({'page' : loop.index0})) }}">{{ page }}</a>
                </li>
            {% endif %}
        {% endfor %}
    {% endif %}
</ul>