{% extends '@App/layout.html.twig' %}
{% block content %}
    <h1>{{ 'Licenses and information about them'|trans }}</h1>
    {% for license in licenses %}
        <div class="license-item">
            <h4>{{ license.title|trans }}</h4>
            <p>{{ license.description|trans }}</p>
            <span>{{ 'Detail information:'|trans }}</span><a href="{{ license.reference }}">{{ 'link'|trans }}</a>
        </div>
    {% endfor %}
{% endblock %}