{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1 class="h1 text-center">{{ 'Login' | trans({}, 'app') }}</h1>
        <div class="form-narrow">
            {% if error %}
                {% set input_class = 'form-control input form-control-error' %}
            {% else %}
                {% set input_class = 'form-control input' %}
            {% endif %}
            <form autocomplete="off" action="{{ path("fos_user_security_check") }}" method="POST" role="form"
                  class="form-horizontal">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                <div class="form-group {% if error %}has-error{% endif %}">
                    <label for="username" class="control-label col-sm-2">{{ 'Email' | trans({}, 'app') }}</label>
                    <div class="col-sm-10">
                        <input required="required" id="username" type="text" name="_username"
                               class="{{ input_class }}">
                        {% if error %}
                            <span class="text-error">{{ 'Wrong username or password'|trans({}, 'app') }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group {% if error %}has-error{% endif %}">
                    <label for="password" class="control-label col-sm-2">{{ 'Password' | trans({}, 'app') }}</label>
                    <div class="col-sm-10">
                        <input required="required" id="password" type="password" name="_password"
                               class="{{ input_class }}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label><input id="checkbox" type="checkbox">{{ 'Remember me' | trans({}, 'app') }}</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <span>{{ 'Forgot your password?'|trans }}</span>&nbsp;{#
                        #}<a href="{{ url('fos_user_resetting_request') }}"
                             class="link-bold">{{ 'Request password reset' | trans({}, 'app') }}</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-success">{{ 'Sign in' | trans({}, 'app') }}</button>
                        <a href="{{ url('fos_user_registration_register') }}"
                           class="btn btn-primary">{{ 'Register new account' | trans({}, 'app') }}</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <h3 class="form-hint">{{ 'Social network auth' | trans }}</h3>
                        {% include 'widgets/social_network_auth.html.twig' %}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block footer %}{% endblock %}
