{% extends "@App/layout.html.twig" %}
{% block content %}
    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="form-horizontal">
        <div class="form-group">
            {% if invalid_username is defined %}
                <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
            {% endif %}
            <label for="username"
                   class="control-label">{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}</label>
            <input type="text" id="username" name="username" class="form-control" required="required"/>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input class="btn btn-primary" type="submit" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}"/>
            </div>
        </div>
    </form>
{% endblock content %}
