{% extends "@App/layout.html.twig" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block content %}
    <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST"
          class="fos_user_resetting_reset form-horizontal">
        {{ form_widget(form) }}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-primary" value="{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}"/>
            </div>
        </div>
    </form>
{% endblock content %}
