* {
    -webkit-background-clip: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-repeat: no-repeat;
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: top;
}
body {
    background-color: #f3f3ff;
}

.category-item {
    position: relative;
    margin: 0 auto;
}

.category-title {
    color: gainsboro;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}

.category-image {
    display: block;
    max-width: 800px;
    height: auto;
    border-radius: 10px;
    margin: 0 auto;
}

.category-image-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 100%;
    max-width: 840px;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(129, 129, 129, 0.88);
    border-radius: 10px;
}
.category-item-wrapper {
    padding-bottom: 25px;
    margin: 0 auto;
}

.category-item:hover .category-image-overlay {
    opacity: 1;
}

.category-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.social-login-wrapper {
    width: 150px;
}

.social-login-wrapper div {
    float: left;
    padding-left: 8px;
}

.img-thumbnails .img-thumbnail {
    margin-top: 15px;
}

.inner-page {
    margin: 60px 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.inner-page-link {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    vertical-align: top;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #b8d4e4;
    box-shadow: 0 5px 8px rgba(67,125,156,0.1);
    padding: 30px 20px;
    min-width: 365px;
    min-height: 325px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #6c747a;
    transition: all 0.2s ease-in-out;
}

.main-page-categories {
    margin: 0 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.main-page-banner {
    z-index: 10;
    width: 100%;
    max-height: 350px;
    overflow: hidden;
    margin-top: -20px;
}
.main-page-banner img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0;
    text-decoration: none;
    overflow: hidden;
}

/* ==FOOTER== */
.full {
    width: 100%;
}
.gap {
    height: 30px;
    width: 100%;
    clear: both;
    display: block;
}
footer {
    margin-top: 60px;
}
.footer {
    background: #EDEFF1;
    height: auto;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
}
.footer p {
    margin: 0;
}
.footer img {
    max-width: 100%;
}
.footer h3 {
    border-bottom: 1px solid #BAC1C8;
    color: #54697E;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 40px 0 10px;
    text-transform: uppercase;
}
.footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #7F8C8D;
}
.footer ul li a {
    padding: 0 0 5px 0;
    display: block;
}
.footer a {
    color: #78828D
}
.supportLi h4 {
    font-size: 20px;
    font-weight: lighter;
    line-height: normal;
    margin-bottom: 0 !important;
    padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
    background: #FFFFFF;
    display: inline-block;
    float: left;
    height: 30px;
    clear: both;
    width: 100%;
}
.newsletter-box .btn {
    border: medium none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    height: 40px;
    padding: 0;
    width: 100%;
    color: #fff;
}
.newsletter-box {
    overflow: hidden;
}
.bg-gray {
    background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
    box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
    background: none repeat scroll 0 0 #B5B5B5;
    border: 2px solid #B5B5B5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0 8px 0 0;
    padding: 0;
    text-align: center;
    width: 36px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}
.social li:hover {
    transform: scale(1.15) rotate(360deg);
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
}
.social li a {
    color: #EDEFF1;
}
.social li:hover {
    border: 2px solid #2c3e50;
    background: #2c3e50;
}
.social li a i {
    font-size: 16px;
    margin: 0 0 0 5px;
    color: #EDEFF1 !important;
}
.footer-bottom {
    background: #222831;
    border-top: 1px solid #DDDDDD;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-bottom p.pull-left {
    padding-top: 6px;
}
.payments {
    font-size: 1.5em;
}
.copyright-text {
    color: #fff;
}

.img-thumbnail:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image-view-wrapper {
    background-color: black;
    margin: 0 auto;
    text-align: center;
}

.image-view {
    max-width: 1200px;
    max-height: 640px;
    border: 3px solid rgba(56, 57, 59, 0.36);
    border-radius: 5px;
}

.search-bar-wrapper {
    width: 100%;
}

.search-bar {
    width: 65%;
    margin: 0 auto;
}


.tags {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.tags li {
    float: left;
}

.tag {
    background: #337ab7;
    border-radius: 5px;
    color: #d9edf7;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
}

.tag::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
}

.tag:hover {
    background-color: #5cb85c;
    color: white;
    text-decoration: none;
}

.tag:hover::after {
    border-left-color: crimson;
}