{% extends '@App/layout.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block content %}
    <form action="{#{{ path('fos_user_registration_register') }}#}" {{ form_enctype(form) }} method="POST">
        {{ form_widget(form) }}
        <div class="form-group">
            <button class="btn btn-success">{{ 'Create'|trans }}</button>
        </div>
    </form>
{% endblock %}