{% extends '@App/layout.html.twig' %}
{% block content %}
    <div class="page-content">
        <h2>{{ 'Error occurred'|trans }}</h2>
        <p class="text-red">
            {{ message }}
        </p>
    </div>
{% endblock %}