{% extends '@App/layout.html.twig' %}
{% block body %}
    <div class="main-page-banner">
        <img src="{{ asset('bundles/app/images/main-banner.jpg') }}">
    </div>
    <div class="container">
        <h2 class="text-center">{{ 'Welcome to E-Products, our plarform will help you to find or sale photos'|trans }}</h2>
        <hr>
        <h3 class="text-center">{{ 'Discover uploaded photos'|trans }}</h3>
        <br>
        <div class="main-page-categories">
            {% for category in categories %}
                <div class="category-item-wrapper">
                    <div class="category-item">
                        <a href="{{ url('category_products', {'category' : category.title}) }}">
                            {% if category.products > 0 %}
                                {% set categoryPicture = '/uploads/'~category.products|first.headPicture %}
                            {% else %}
                                {% set categoryPicture = asset('img/category-stub.png') %}
                            {% endif %}
                            <img class="category-image" src="{{ categoryPicture }}">
                            <div class="category-image-overlay">
                                <div class="category-text">
                                    <span class="category-title">{{ category.title }}</span>
                                    <p>
                                        {{ category.description }}
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}